<header>
    <div class="content">
        <div class="auth-div">
            <div class="link-div sign-in">
                <a class="link-btn-light" href="">Sign In</a>
            </div>
            <div class="link-div sign-out">
                <a class="link-btn-light" href="">Sign Up</a>
            </div>
        </div>
        <div class="table">
            <div class="link-div">
                <a class="link-btn-light" href="">News</a>
            </div>
            <div class="link-div">
                <a class="link-btn-light" href="">Groups</a>
            </div>
            <div class="search">
                <input type="search" placeholder="Search for groups and projects">
                <button><img src="../assets/img/search-icon.png"></button>
            </div>
        </div>
    </div>
</header>