header
  font-size: large
  font-weight: 600
  background: #388E3C
  .content
    position: relative

.right-menu > div
  float: right

.sign-in, .sign-up
  background: #66BB6A
  padding: 7px

.dropdown > div
  background: #66BB6A

.sign-in
  border-radius: 0 0 0 7px
  margin-right: 2px

.sign-up
  border-radius: 0 0 7px 0

#logo
  background: url('/assets/img/logo.svg') no-repeat
  background-size: contain
  width: 20px
  height: auto

#search-block
  display: inline-flex
  input
    width: 30vw
    padding: 0 10px
    border-radius: 5px 0 0 5px
  button
    border-radius: 0 5px 5px 0

input
  opacity: 0.9
  transition: opacity 0.3s ease-out
  border: 0
  &:focus
    opacity: 1

button
  padding: 8px 13px
  background-color: transparent
  border: 0
  height: 100%
  img
    height: 17px
    width: auto

.hv-green
  background: #66BB6A
  transition: background .4s ease
  &:hover
    background: #81C784

.link-div
  transition: background-color 0.25s ease-out
  text-transform: uppercase
  &:hover
    background-color: #4CAF50
    outline-offset: -10px

#title
  text-transform: none

ul.dropdown-menu
  display: none
  margin-top: 8px
  padding-top: 5px
  padding-bottom: 5px
  list-style: none
  background-color: #fff
  border: 1px solid rgba(27, 31, 35, 0.15)
  padding-left: 0
  font-size: large
  font-weight: normal
  border-radius: 4px
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15)
  li
    padding: 4px 10px 4px 15px
  li:hover
    color: #fff
    background-color: #4CAF50
    cursor: pointer

.dropdown-button
  font-size: x-large

.open
  position: static
  ul
    display: inline
    position: absolute
    right: 0

.avatar
  width: 28px
  height: 28px
  padding: 5px
  margin: 2px auto
  border-radius: 50%
  background-position: center
  background-size: cover
  border: 2px solid rgba(#66BB6A, 0.6)

.light
  color: #e8f0db