<footer>
    <div class="content">
        <hr>
        <div class="table">
            <div>
                Designed by <a class="link-btn-dark" href="https://github.com/merfemor" target="_blank"><b>merfemor</b></a>
            </div>
            <div>
                <a class="link-btn-dark" href="">
                    About this project
                </a>
            </div>
            <div>
                <div class="table github">
                    <div>
                        <img src="/assets/img/github-logo.png">
                    </div>
                    <div>
                        <a href="https://github.com/merfemor/OpenSourceMusic" class="link-btn-dark" target="_blank">
                            GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>