<div class="head">Members</div>
<ul>
    <li *ngFor="let member of members">
        <div class="table" [class.creator]='member.role === Role.CREATOR'>
            <div class="profile-img"
                 [style.background-image]='getSanitizedUserProfileImageUrl(member.user.profileImageUrl)'></div>
            <div>
                <span><a class="link-btn-dark" routerLink="/profile/{{member.user.username}}"><b>@{{member.user.username}}</b></a></span><br>
                <span>{{member.user.firstName}} {{member.user.lastName}}</span>
            </div>
            <div class="delete-member" *ngIf="canManage && member.role != Role.CREATOR">
                <div (click)="deleteMember(member)" style="background-image: url('/assets/img/delete-icon.svg')"></div>
            </div>
        </div>
    </li>
</ul>

<div *ngIf="canManage">
    <label for="search-user-text-input">
        <b>Add members</b>
    </label>
    <input [(ngModel)]="searchText"
           type="search"
           id="search-user-text-input"
           class="form-control"
           placeholder="User nickname"
           (toggle)="showAdd = true"
           #sinput
    >

    <div class="dropdown-menu-div" [class.hidden]="!sinput.classList.contains('ng-dirty')">
        <ul class="dropdown-menu">
            <li *ngFor='let user of allUsers | username: searchText'
                (click)="addMember(user)">
                <b>@{{user.username}}</b>
            </li>
        </ul>
    </div>
</div>