ul
  list-style: none
  padding: 0

li
  border-bottom: 1px solid lightgray
  font-size: medium
  margin-bottom: 2px
  & > *
    text-align: left
  &:hover
    background-color: #E8F5E9

.profile-img
  height: 45px
  width: 45px
  border-radius: 50%
  background: rgba(#66BB6A, 0.2) center
  background-size: cover
  border: 2px solid rgba(#66BB6A, 0.6)



