<div class="all-content">
    <h2>Change your profile settings</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" class="form-control" id="username" type="text">
            <div class="form-invalid-text"
                 *ngIf="form.get('username').invalid && form.get('username').touched">
                <span *ngIf="form.get('username')['errors']['required']">Username is required</span>
                <span *ngIf="!form.get('username')['errors']['required'] &&
                                form.get('username')['errors']['isLoginUnique']">
                    Such a username exists, try another one</span>
                <span *ngIf="!form.get('username')['errors']['required'] &&
                             !form.get('username')['errors']['isLoginUnique'] &&
                              form.get('username')['errors']['pattern']">
                    Only English letters, '_' and '.' are allowed</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" class="form-control" id="email" type="email" placeholder="user@example.com">
            <div class="form-invalid-text"
                 *ngIf="form.get('email').invalid && form.get('email').touched">
                <span *ngIf="form.get('email')['errors']['email']">Invalid email format</span>
                <span *ngIf="!form.get('email')['errors']['email'] &&
                                form.get('email')['errors']['isLoginUnique']">
                    Such a email exists, try another one</span>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input formControlName="firstName" class="form-control" id="firstName" type="text">
            <div class="form-invalid-text"
                 *ngIf="form.get('firstName').invalid&&form.get('firstName').touched">
                <span *ngIf="form.get('firstName')['errors']['pattern']">Invalid name format</span>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input formControlName="lastName" class="form-control" id="lastName" type="text">
            <div class="form-invalid-text"
                 *ngIf="form.get('lastName').invalid&&form.get('lastName').touched">
                <span *ngIf="form.get('lastName')['errors']['pattern']">Invalid name format</span>
            </div>
        </div>

        <button [disabled]="form.invalid || isNoChanges()" type="submit" class="btn-submit">
            Update profile
        </button>
    </form>


    <h2>Change your password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="submitChangePassword()">
        <div class="form-group">
            <label for="oldPassword">Current password</label>
            <input formControlName="oldPassword" class="form-control" id="oldPassword" type="password">
            <div class="form-invalid-text"
                 *ngIf="passwordForm.get('oldPassword').invalid && passwordForm.get('oldPassword').dirty">
                <span>You need to enter your current password</span>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input formControlName="newPassword" class="form-control" id="newPassword" type="password">
            <p class="note">Create a password from the numbers and letters of the upper and lower case.</p>
            <div class="form-invalid-text"
                 *ngIf="passwordForm.get('newPassword').invalid &&
                        passwordForm.get('newPassword').touched &&
                        passwordForm.get('newPassword').dirty">
            <span>Password must contain at least one letter in lower case, one letter in uppercase and one digit.
            The minimum password length is 9 characters</span>
            </div>
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm">New password confirmation</label>
            <input formControlName="newPasswordConfirm" class="form-control" id="newPasswordConfirm" type="password">
            <div class="form-invalid-text"
                 *ngIf="passwordForm.get('newPasswordConfirm').invalid && passwordForm.get('newPasswordConfirm').touched">
                <span>Passwords are different</span>
            </div>
        </div>
        <div class="form-invalid-text" *ngIf="status && !status.successful">
            <span>Failed to change password.<br>{{status?.description}}</span>
        </div>
        <button [disabled]="passwordForm.invalid" type="submit" class="btn-submit">
            Change password
        </button>
    </form>

    <h2>Change profile image</h2>
    <app-upload-photo></app-upload-photo>
</div>
