<div class="join-content">
    <h1>Join OpenSourceMusic</h1>

    <form id="signup-form">
        <h2>Create your personal account</h2>

        <div>
            <label for="user_login">Login</label>
            <input autofocus="autofocus" class="form-control" id="user_login" name="user[login]" type="text" required>
            <p class="note">This will be your login. You can add your name and surname later.</p>
        </div>
        <div>
            <label for="user_email">Email</label>
            <input class="form-control" id="user_email" name="user[email]" type="email" required>
            <p class="note">Email for notifications and account recovery.</p>
        </div>
        <div>
            <label for="user_password">Password</label>
            <input class="form-control" id="user_password" name="user[login]" type="password" required>
            <p class="note">Use at least one lowercase letter, one numeral, and seven characters.</p>
        </div>

        <input type="submit" class="btn-submit" id="signup_button" value="Create an account">
    </form>
</div>