<div class="h2">Files:</div>

<table class="projects-table" *ngIf="files?.length > 0">
    <tr>
        <th>Filename</th>
        <th>Added Date</th>
    </tr>
    <tr *ngFor="let file of files">
        <td><a class="link-btn-dark">{{file.name}}</a></td>
        <td>{{getFormattedDate(file.uploadDate)}}</td>
    </tr>
</table>

<span *ngIf="!(files?.length > 0)">
    There are no files in this project yet.
</span>

<p *ngIf="true">
    <b>Upload files:</b>
    <file-drop (onFileDrop)="onFileDrop($event)">
        <div>
            <img class="upload-icon" src="/assets/img/upload-icon.svg">
            <div *ngIf="status() === 'NOT_SELECTED'">
                <label class="choose-file-label" for="choose-file-input">
                    <strong>Choose a file</strong></label><span class="simple-text"> or drag it here.</span>
                <input id="choose-file-input" type="file" (change)="onFileDrop($event)">
            </div>
        </div>
        <div class="upload-status" *ngIf="status() === 'UPLOADING'">Uploading...</div>
    </file-drop>
</p>