<div class="cont">
    <div>
        <h1>Welcome to <br>Open Source Music!</h1>
        <p>
            This service is intended for musicians and sound engineers
            who want to share their projects with other people, as well
            as for beginning musicians, who want to get experience by
            exploring other people's projects.
        </p>
    </div>

    <div>
        <h1>Open Source Music <br>allows you</h1>
        <ul>
            <li>
                publish your music projects, so everyone can see them
            </li>
            <li>
                explore other people projects
            </li>
            <li>
                invite users to your project
            </li>
            <li>
                fill your project with files.
                You can attach music files, project files, album artwork, whatever you like
            </li>
        </ul>
    </div>

    <div class="signup">
        <button class="btn-submit" routerLink="/join/signup">Sign Up</button>
        to get started.
    </div>

</div>