<section class="projects">
    <h2>Projects</h2>
    <table>
        <tr>
            <th>Project name</th>
            <th>Last modified</th>
        </tr>
        <tr class="released">
            <td><a href="" class="link-btn-dark">Yesterday</a></td>
            <td>yesterday</td>
        </tr>
        <tr class="released">
            <td><a href="" class="link-btn-dark">Yellow Submarine</a></td>
            <td>-</td>
        </tr>
        <tr class="released">
            <td><a href="" class="link-btn-dark">Back in USSR</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td><a href="" class="link-btn-dark">Demo #1</a></td>
            <td>-</td>
        </tr>
        <tr class="released">
            <td><a href="" class="link-btn-dark">Run for your life</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td><a href="" class="link-btn-dark">Demo #2</a></td>
            <td>-</td>
        </tr>
        <tr class="released">
            <td><a href="" class="link-btn-dark">Girl</a></td>
            <td>-</td>
        </tr>
    </table>
</section>