<h1>Join OpenSourceMusic</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Create your personal account</h2>

    <div class="form-group"
         [ngClass]="{'invalid': form.get('username').invalid && form.get('username').touched}">
        <label for="login">Username</label>
        <input formControlName="username" class="form-control" id="login" type="text" autofocus>
        <p class="note">This will be your username. You can add your name and surname later.</p>
    </div>
    <div class="form-group"
         [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
        <label for="email">Email</label>
        <input formControlName="email" class="form-control" id="email" type="email">
        <p class="note">Email for notifications and account recovery.</p>
    </div>
    <div class="form-group"
         [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
        <label for="password">Password</label>
        <input formControlName="password" class="form-control" id="password" type="password">
        <p class="note">Must contain at least one letter in lower case, one letter in uppercase and one digit.<br>
            The minimum password length is 9 characters.</p>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn-submit" id="signup_button">
        Create an account
    </button>
</form>