<header>
    <div class="content">
        <div class="auth-div">
            <div class="link-div sign-in">
                <a class="link-btn-light" href="">Sign In</a>
            </div>
            <div class="link-div sign-out">
                <a class="link-btn-light" href="">Sign Up</a>
            </div>
        </div>
        <div class="table">
            <div class="link-div">
                <a class="link-btn-light" href="">News</a>
            </div>
            <div class="link-div">
                <a class="link-btn-light" href="">Groups</a>
            </div>
            <div class="search">
                <input type="search" placeholder="Search for groups and projects">
                <button><img src="../assets/img/search-icon.png"></button>
            </div>
        </div>
    </div>


</header>

<main class="content">
    <div class="group-img-div" parallax>
        <div class="statistics">
            <div class="followers">
                <span>Followers: </span>
                <span><b>100500</b></span>
            </div>
        </div>
        <div class="title">
            <span>The Beatles</span>
        </div>
    </div>
    <section class="projects">
        <h2>Projects</h2>
        <table>
            <tr>
                <th>Project name</th>
                <th>Last modified</th>
            </tr>
            <tr class="released">
                <td><a href="" class="link-btn-dark">Yesterday</a></td>
                <td>yesterday</td>
            </tr>
            <tr class="released">
                <td><a href="" class="link-btn-dark">Yellow Submarine</a></td>
                <td>-</td>
            </tr>
            <tr class="released">
                <td><a href="" class="link-btn-dark">Back in USSR</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td><a href="" class="link-btn-dark">Demo #1</a></td>
                <td>-</td>
            </tr>
            <tr class="released">
                <td><a href="" class="link-btn-dark">Run for your life</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td><a href="" class="link-btn-dark">Demo #2</a></td>
                <td>-</td>
            </tr>
            <tr class="released">
                <td><a href="" class="link-btn-dark">Girl</a></td>
                <td>-</td>
            </tr>
        </table>
    </section>
    <aside class="sidebar">
        <div class="members">
            <h3>Members</h3>
            <ul>
                <li>
                    <div class="table">
                        <div>
                            <img class="profile-img" src="../assets/example/img/john.png">
                        </div>
                        <div>
                            <span><a class="link-btn-dark" href=""><b>@lenon</b></a></span><br>
                            <span>John Lenon</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table">
                        <div>
                            <img class="profile-img" src="../assets/example/img/paul.png">
                        </div>
                        <div>
                            <span><a class="link-btn-dark" href=""><b>@0xDEAD</b></a></span><br>
                            <span>Paul McCartney</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table">
                        <div>
                            <img class="profile-img" src="../assets/example/img/ringo.png">
                        </div>
                        <div>
                            <span><a class="link-btn-dark" href=""><b>@bestdtrummer</b></a></span><br>
                            <span>Ringo Starr</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table">
                        <div>
                            <img class="profile-img" src="../assets/example/img/har.png">
                        </div>
                        <div>
                            <span><a class="link-btn-dark" href=""><b>@harrison</b></a></span><br>
                            <span>George Harrison</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="events">
            <h3>Events</h3>
        </div>
    </aside>
</main>


<footer>
    <div class="content">
        <hr>
        <div class="table">
            <div>
                Designed by <a class="link-btn-dark" href="https://github.com/merfemor" target="_blank"><b>merfemor</b></a>
            </div>
            <div>
                <a class="link-btn-dark" href="">
                    About this project
                </a>
            </div>
            <div>
                <div class="table github">
                    <div>
                        <img src="../assets/img/github-logo.png">
                    </div>
                    <div>
                        <a href="https://github.com/merfemor/OpenSourceMusic" class="link-btn-dark" target="_blank">
                            GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>