<header>
    <div class="content">
        <div class="auth-div">
            <div class="link-div sign-in">
                <a class="link-btn-light" href="">Sign In</a>
            </div>
            <div class="link-div sign-out">
                <a class="link-btn-light" href="">Sign Up</a>
            </div>
        </div>
        <div class="table">
            <div class="link-div">
                <a class="link-btn-light" href="">News</a>
            </div>
            <div class="link-div">
                <a class="link-btn-light" href="">Groups</a>
            </div>
            <div class="search-field">
                <input type="search" placeholder="Search for groups and projects">
            </div>
            <div class="search-button">
                <button><img src="../assets/img/search-icon.png"></button>
            </div>
        </div>
    </div>


</header>

<main class="content">
    <div class="group-img-div" parallax>
        <div class="statistics">
            <div class="followers">
                <span>Followers: </span>
                <span><b>100500</b></span>
            </div>
        </div>
        <div class="title">
            <span>The Beatles</span>
        </div>
    </div>

    <div class="links table">
        <div class="link-div">
            <a class="link-btn-dark" href="">Last Activities</a>
        </div>
        <div class="link-div">
            <a class="link-btn-dark" href="">Projects</a>
        </div>
        <div class="link-div">
            <a class="link-btn-dark" href="">Releases</a>
        </div>
        <div class="link-div">
            <a class="link-btn-dark" href="">Memebers</a>
        </div>
    </div>
</main>


<footer>
    <div class="content">
        <hr>
        <div class="columns">
            <div>
                Designed by <a class="link-btn-dark" href="https://github.com/merfemor" target="_blank"><b>merfemor</b></a>
            </div>
            <div>
                <a class="link-btn-dark" href="">
                    About this project
                </a>
            </div>
            <div>
                <div class="table">
                    <div>
                        <img src="../assets/img/github-logo.png">
                    </div>
                    <div>
                        <a href="https://github.com/merfemor/OpenSourceMusic" class="link-btn-dark" target="_blank">
                            GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>