<header>
    <div class="content">
        <div class="table">
            <div class="link-div">
                <a class="link-btn-light" href="">News</a>
            </div>
            <div class="link-div">
                <a class="link-btn-light" href="">Groups</a>
            </div>
            <div class="search-field">
                <input type="search" placeholder="Search for groups and projects">
            </div>
            <div class="search-button">
                <button><img src="../assets/img/search-icon.png"></button>
            </div>
            <div class="table auth-divs">
                <div class="link-div">
                    <a class="link-btn-light" href="">Sign In</a>
                </div>
                <div class="link-div">
                    <a class="link-btn-light" href="">Sign Out</a>
                </div>
            </div>
        </div>
    </div>


</header>

<main class="content">
    <div class="group-img-div" parallax>
        <div class="title">
            <span>The Beatles</span>
        </div>
    </div>
    <div class="projects">
        <h1>Projects</h1>
    </div>
</main>


<footer>
    <div class="content">
        <hr>
        <div class="table">

            <div>
                © 2017 by <b>merfemor</b>
            </div>
            <div>
                <a class="link-btn-dark" href="">
                    About this project
                </a>
            </div>
            <div>
                <div class="table">
                    <div>
                        <img src="../assets/img/github-logo.png">
                    </div>
                    <div>
                        <a href="https://github.com/merfemor/OpenSourceMusic" class="link-btn-dark" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>