<div *ngIf="projects?.length > 0">
    <h2>Projects</h2>
    <table class="projects-table">
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Creation Date</th>
        </tr>
        <tr *ngFor="let project of projects; let i = index" ngClass="{'not-empty': {{project.isEmpty}}">
            <td>{{i + 1}}</td>
            <td><a routerLink="/project/{{project.id}}" class="link-btn-dark">{{project.title}}</a></td>
            <td>{{getFormattedDate(project.creationDate)}}</td>
        </tr>
    </table>
</div>

<div *ngIf="!projects || projects.length == 0">
    <h2>This user has not yet created any projects.</h2>
</div>