<div *ngIf="project">
    <div class="inline-editor-out">
        <h1>
            <inline-editor type="text" [(ngModel)]="project.title" class="inline-editor"></inline-editor>
        </h1>
    </div>
    <div class="column left">
        <div class="inline-editor-out div-margin-after">
            <div class="h2">Description:</div>

            <i>
                <inline-editor type="textarea" [(ngModel)]="project.description" class="inline-editor"></inline-editor>
            </i>
        </div>

        <div>
            <div class="h2">Files:</div>
        </div>
    </div>
    <div class="column right">
        <app-members [projectId]="project.id"></app-members>
    </div>
</div>


<div *ngIf="!project" class="not-found-cont">
    <h1 class="not-found-title">Unable to find that project.</h1>
    <p class="not-found-descr">
        This project was deleted or you have passed on an incorrect link.</p>
</div>