<div *ngIf="user">
    <div class="cover-block">
        <div class="avatar" [style.background-image]='getSanitizedUserProfileImageUrl()'></div>
        <div class="user-info">
            <div class="cover-full-name">
                {{user.firstName}} {{user.lastName}}
            </div>
            <div class="cover-desc member-date">
                <span class="middle-dot-divider"><b>@{{user?.username}}</b></span>
                <span class="middle-dot-divider">{{user?.email}}</span>
            </div>
            <div class="scrolling-tabs-container table">
                <div routerLink="activity">Activity</div>
                <div routerLink="groups">Groups</div>
                <div routerLink="/profile/{{user.username}}/projects">Personal projects</div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="!user" class="user-not-found-cont">
    <h1 class="user-not-found-title">Unable to find that user.</h1>
    <p class="user-not-found-descr">
        User @<b>{{username}}</b> changed his nickname, <br>or a user with such a nickname does not exist.</p>
</div>