<div ng2FileDrop
     [ngClass]='{"file-over": hasBaseDropZoneOver}'
     (fileOver)="this.hasBaseDropZoneOver = $event"
     [uploader]="uploader"
     class="drop-zone">

    <img class="upload-icon" src="/assets/img/upload-icon.svg">

    <div *ngIf="status() === 'NOT_SELECTED'">
        <label class="choose-file-label" for="choose-file-input">
            <strong>Choose a file</strong></label> or drag it here.<br>
        The size of the picture should not exceed 5Mb.
        <input id="choose-file-input" type="file" (change)="onFileChoose($event)" accept="image/*">
    </div>

    <div class="upload-status" *ngIf="status() === 'SELECTED'">
        {{this.projectFilesService.getFirstItemName()}}
    </div>
    <div class="upload-status" *ngIf="status() === 'UPLOADING'">Uploading...</div>
    <div class="upload-status" *ngIf="status() === 'UPLOADED_SUCCESS'">Done!</div>
    <div class="upload-status" *ngIf="status() === 'UPLOADED_ERROR'">Error. {{error.message}}</div>
</div>

<button type="button" class="btn-submit"
        (click)="projectFilesService.upload()"
        [disabled]="projectFilesService.isNothingToUpload() || projectFilesService.isUploading()">
    Change photo
</button>