// TODO: make beautiful parallax
// TODO: optimize styles


body
  background: rgba(235, 255, 235, 0.1)
  margin: 0
  font-family: 'Raleway', sans-serif

.content
  height: 100%
  width: 88%
  margin-left: auto
  margin-right: auto

.table
  display: table
  height: 100%
  text-align: center
  > div
    display: table-cell
    vertical-align: middle
    padding: 5px 8px

.link-btn-light
  transition: color 0.3s ease-out
  color: #e8f0db
  text-decoration: none
  &:hover
    color: white

.link-btn-dark
  color: black
  text-decoration: none
  &:hover
    text-decoration: underline