<div class="all-content">
    <div class="search-title">
        Search results for "{{searchPhrase}}"
    </div>

    <tabs class="tabs">
        <tab tabTitle="People" class="tab">
            <span class="no-results" *ngIf="(cont.allUsers | fullusr: searchPhrase).length===0">
                Sorry we didn't find any results for “{{searchPhrase}}”.<br>
                Check the spelling, or try a different search.
            </span>

            <div class="result-item table"
                 *ngFor="let user of cont.allUsers | fullusr: searchPhrase"
                 routerLink="/profile/{{user.username}}">

                <div class="avatar" [style.background-image]="sanitizeUrl(user.profileImageUrl)"></div>
                <div class="user-info">
                    <b>@{{user.username}}</b>
                    <span *ngIf="user.firstName">: </span>
                    {{user.firstName}} {{user.lastName}} <br> {{user.email}}
                </div>
            </div>
        </tab>
        <tab tabTitle="Projects" class="tab">

            <span class="no-results" *ngIf="(cont.allProjects | projectTitle: searchPhrase).length===0">
                Sorry we didn't find any results for “{{searchPhrase}}”.<br>
                Check the spelling, or try a different search.
            </span>

            <div class="result-item"
                 *ngFor="let project of cont.allProjects | projectTitle: searchPhrase"
                 routerLink="/project/{{project.id}}"
            >
                <b>{{project.title}}</b> <br>
                {{project.description}}
            </div>
        </tab>
    </tabs>
</div>