.search-title
  font-size: x-large
  margin-left: 10px
  margin-top: 20px

::ng-deep .tabs__panel
  padding: 5px !important
  background-color: transparent !important
  box-shadow: none !important
  border-radius: 0 !important

::ng-deep .tabs__tab-bar
  float: left
  width: 17%
  margin-right: 3% !important
  border: 0 !important
  border-radius: 0 !important
  list-style-type: none !important
  .tabs__tab
    display: block !important

.tabs
  display: block
  min-height: 50vh

.tab
  width: 75%
  float: left
  display: block