<div class="members">
    <h3>Members</h3>
    <ul>
        <li>
            <div class="table">
                <div>
                    <img class="profile-img" src="/assets/example/img/john.png">
                </div>
                <div>
                    <span><a class="link-btn-dark" href=""><b>@lemon</b></a></span><br>
                    <span>John Lenon</span>
                </div>
            </div>
        </li>
        <li>
            <div class="table">
                <div>
                    <img class="profile-img" src="/assets/example/img/paul.png">
                </div>
                <div>
                    <span><a class="link-btn-dark" href=""><b>@0xDEAD</b></a></span><br>
                    <span>Paul McCartney</span>
                </div>
            </div>
        </li>
        <li>
            <div class="table">
                <div>
                    <img class="profile-img" src="/assets/example/img/ringo.png">
                </div>
                <div>
                    <span><a class="link-btn-dark" href=""><b>@bestdtrummer</b></a></span><br>
                    <span>Ringo Starr</span>
                </div>
            </div>
        </li>
        <li>
            <div class="table">
                <div>
                    <img class="profile-img" src="/assets/example/img/har.png">
                </div>
                <div>
                    <span><a class="link-btn-dark" href=""><b>@harrison</b></a></span><br>
                    <span>George Harrison</span>
                </div>
            </div>
        </li>
    </ul>
</div>