ul
  list-style: none
  padding: 0

li
  border-bottom: 1px solid lightgray
  font-size: medium
  margin-bottom: 2px
  & > *
    text-align: left
  &:hover
    background-color: #E8F5E9

.profile-img
  border-radius: 100px
  overflow: hidden
  height: 45px
  width: 45px

